<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir todas las solicitudes al directorio "public"
    RewriteRule ^(.*)$ public/$1 [L]

    # Resto de las reglas de Laravel
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>